<mat-toolbar color="primary">
  <span>E-Commerce App</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/home">Home</a>
  <a mat-button routerLink="/products">Products</a>
  <a mat-button routerLink="/cart">Cart</a>
</mat-toolbar>


<router-outlet></router-outlet>


<mat-toolbar color="primary" class="footer">
  <span>&copy; 2023 E-Commerce App. All rights reserved.</span>
  <span class="spacer"></span>
  <a mat-button href="https://www.example.com/about" target="_blank">About Us</a>
  <a mat-button href="https://www.example.com/contact" target="_blank">Contact</a>
  <a mat-button href="https://www.example.com/privacy" target="_blank">Privacy Policy</a>
</mat-toolbar>